{% extends 'base.html.twig' %}
{% block title %}All programs in category
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10 m-3 bg-light border border-1 border-dark shadow rounded">
				<h1>{{ actor.name }}</h1>
				<p>Liste :
				</p>
				<ul>
					{% for program in actor.programs %}
						<li>
							<a href="{{ path('program_show', {id: program.id}) }}">{{ program.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
